langchain
langchain-core
langchain-community
langchain-groq
langchain-chroma
langchain-huggingface
chromadb
huggingface-hub
sentence-transformers
pydantic
streamlit
plotly
pandas
matplotlib
seaborn
streamlit-chat






